*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    width: 80%;
    min-height: 80vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
header{
    width: 100%;
    height: 11vh;
    background-color: rgb(128, 128, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0 2rem;
    border-bottom: 1px solid black;
    border-radius: 5px;
}
#search-input{
    width: 70%;
    height: 5vh;
    padding: 5px;
    font-size: 1rem;
}
#search-input-div{
    width: 60%;
    height: 11vh ;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-btn{
    width: 15%;
    height: 5vh;
    background-color: blue;
    color: white;
    margin-left: 5px;
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
}
#NameApp{
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    padding: 10px;
    border: 2px solid white;
}
.content{
    width: 100%;
    height: 65vh;
    overflow: auto;
    margin-top: 1rem;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
li{
    width: 30%;
    height: 5vh;
    /* background-color: rgb(128, 128, 255, 0.5); */
    margin: 7px;
    list-style: none;
    border: 2px solid rgb(128, 128, 255);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    padding: 0 1rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
li:hover{
    background-color: rgb(128, 128, 255, 0.5);
    color: white;
    transition: 0.5s;
}
#black-drop{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
}

#add-student {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 50%; 
    position: absolute;
    display: none;
  }
  #black-drop.visible{
    display: block;
} 
#add-student.visible{
    display: block;
}
  
  #add-student h1 {
    margin-bottom: 20px; 
    font-size: 24px; 
    color: #333; 
  }
  
  #add-student label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%; 
    font-size: 1rem; 
    color: #555; 
  }
  
  #add-student input {
    margin-top: 5px; 
    padding: 8px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    width: 100%; 
  }
  
  #add-student input:focus {
    border-color: #007bff; 
    outline: none;
  }